body {
	background: #ECFBFC;
	color: rgb(50,50,50);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight:300;

}

p{
	color: rgb(50,50,50);
}

h1,h2,h3{
	font-family: 'Poppins', sans-serif;
	font-weight:lighter;
	letter-spacing: 1px;
}

h1{
	color: #005082;
	font-size: 40px

}


h2{
	color: #00A8CC;
	font-size: 24px;
	line-height: 1.5;
}

a{

	text-decoration: none;
	color: #0F4C81;

}

a:hover {
	color: #00A8CC;
}


.container{
	width: 800px;
	margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.card-white{
	background: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(50,50,50,0.1);
	border-radius: 4px;
	margin: 20px 20px;
	text-align: center;
	border: 1px solid lightgrey;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background-color:#005082;
	color: white;
	padding: 15px 20px;
	border-radius: 4px; 
}

.list-horizontal{
	list-style: none;
	padding-left: 0px;
}

.list-horizontal li{

	display: inline;
	padding: 10px;
}

.list-horizontal i{
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-horizontal i:hover{
	font-size: 50px;
	color: black;
}

#introduction p{

	margin-bottom: 40px;

}